.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 30px 30px 30px;
  min-height: calc(var(--vh, 1vh) * 100);
  &__title {
    align-self: center;
    margin-bottom: 30px;
  }
  &__text {
    text-align: center;
  }
  &__link {
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .error {
    padding: 100px 65px 30px 65px;
  }
}
