$color-white: #FCFAF3;
$color-black: #000000;
$color-primary: #F6D3F3;
$color-primary-gradient: #F6D3F300;
$color-secondary: #D3F6DD;
$color-secondary-gradient: #D3F6DD00;
$font-primary: 'Space Mono', monospace;
$font-secondary: 'Eczar', serif;
